.register-final-message {
  padding: 0 3rem 3rem 3rem;
  font-family: 'Raleway', sans-serif;
  color: var(--main-dark-color2);
  text-align: center;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4rem;
  }

  .register-final-message {
    padding-bottom: 2rem;
  }
}